bis/assets/
/yii/demos
bis/protected/runtime/application.log
bis/protected/runtime/application.log
bis/images/downloadable
bis/protected/runtime/application.log
bis/protected/runtime/application.log
BIS.mwb.bak
bis/protected/runtime/application.log