/*
 * mainColor: #333ea7;
 *
 */


body
{
	margin: 0;
	padding: 0;
    color:#494949;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #fff;
}

#page
{
    width:auto;
    margin: 0px;
    padding: 0px;
}

#header
{
	margin: 0;
	padding: 0;
}

#footer
{
	padding: 10px;
	margin: 0px;
    margin-top:20px;
    opacity: 0.6;
	font-size: 8px;
	text-align: center;
}

#logo
{
	padding: 5px 10px;
    padding-left:20px;
	font-size:150%;
    color: #333ea7;
    display: table;
    margin:0;
}
    #logo .logo img{
        padding:10px;
        width: 70px;
    }

    #logo .name{
        display: table-cell;
        vertical-align: middle;
    }

#mainmenu
{
    font-family: 'Open Sans', sans-serif;
    padding:0px;
    margin:0px;
    width: auto;
    box-shadow:0em 0.2em 0.4em #b4b4b4;
}
    #mainmenu .menu{
        background:#333ea7;
    }

    #mainmenu ul
    {
        text-transform: uppercase;
        padding:12px 20px 12px 20px;
        margin:0px;
    }

    #mainmenu ul li
    {
        display: inline;
        padding:0px 10px;
    }

        #mainmenu ul li a
        {
            transition: all 1s;
            -moz-transition: all 1s;
            -webkit-transition: all 1s;
            -o-transition: all 1s; 

            color:#fff;
            background-color:transparent;
            font-size:10px;
            font-weight:bold;
            text-decoration:none;
            padding:15px 15px;
        }

        #mainmenu ul li a:hover
        {
            color:#cfcfcf;
            text-decoration:none;
        }

#slideshow{
    width: 100%;
    text-align: center;
    margin:auto;
}

#content{
    text-align: justify;
    font-size: 12px;
    padding:20px 40px 5px 40px;
    font-family: 'Open Sans', sans-serif;
}
    
    #home{
        padding:50px;
    }

    #about, #home{
        font-size: 14px;
        line-height: 30px;
        margin:-40px;
        padding-bottom: 40px;
        padding-top:20px;
    }

    #about p{
        text-indent: 20px;
        margin: 10px 0px 10px 0px;
    }

    #about #white,
    #about #gray{
        padding:40px;    
    }

    #about #gray{
        background: #eee;
    }
        
        #about .aboutTitle{
            color:#333ea7;
            font-weight: bold;
            font-size: 60px;
            line-height: 80px;
        }

        #about .aboutDesc b{
            font-size: 18px;
            font-weight: 600;
        }

        #about .aboutDesc ol{
            padding:0px;
            margin:0px;
            padding-left: 65px;
        }

        #about .aboutDesc blockquote{
            font-size: 18px;
            line-height: 80px;
            text-align: center;
            color:inherit;
        }

        #about .contact{
            margin-left: 20px;
        }
        
        #about .fa{
            font-size: 20px!important;
            margin-right: 10px;
        }

h1, h2{
    color:#333ea7;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
}

h2{
    font-size: 40px!important;
    line-height: 30px!important;
}

.center{text-align: center;}

div.view
{
	padding: 10px;
	margin: 10px 0;
    font-size:14px;
}

.annoucement{
    /*border-bottom: #ccc dashed 1px;*/
}

.home .main{
    width: 73%;
    float: left;
}

.home .sidebar{
    width: 23%;
    float: right;
    border-left:#333ea7 solid 2px;
    padding:10px;
    padding-left:20px;
}

ul.archives{
    margin-left:5px;
}

    ul.archives a{
        text-decoration: underline;
        color:#333ea7;
    }

    ul.archives a:hover{
        color:#aaa;
    }

.annoucement .information{
    font-size: 9px;
    opacity: 0.7;  
    padding-bottom: 10px;
}

.annoucement .readmore{
    font-size: 12px;
}

.annoucement .title a{
    text-decoration: none;
}

.annoucement .title a:hover{
    text-decoration: underline;
}

.annoucement .title,
.event .title,
.user .title,
.pictures .title{
    color:#333ea7;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
}

.annoucement .text{
    text-align: justify;
}

.album .pic{
    background-color: #eee;
    padding:10px;
    width: 400px;
}

.album .pic img{
    width: 400px;
}

.album .name{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}
    
#links{
    margin-left: 50px;
}
    #links .link a{
        transition: all 1s;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s; 
        
        padding: 10px;
        text-decoration: none;
        font-size: 50px;
        /*color:#656db7;*/
    }

    #links .link a:hover{        
        color:#aaa;
    }

.searchLetters{
    text-align: left;
    font-size: 14px;
}
    .searchLetters a{
        padding:3px;
    }

/*.tabFrom .row1,
.tabFrom .row2,
.tabFrom .row3,
.tabFrom .row4,
.tabFrom .row5{
    display: inline-block;
    margin-right:15px;
}*/


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}



div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}


.portlet
{

}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	/*background:#efefff;*/
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
    text-align: right;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
    text-align: right;
    display: inline;
}

.operations li a
{
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s; 

	font-size: 12px;
    
	color: #0066A4;
	padding: 5px 10px;
    margin:0px 5px;
	text-decoration: none;
}

.operations li a:hover
{
    background: #E5F1F4;
}

/*slideshow*/
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../images/a01.png) no-repeat;
    overflow:hidden;
}
.jssora01l { background-position: -8px -38px; }
.jssora01r { background-position: -68px -38px; }
.jssora01l:hover { background-position: -128px -38px; }
.jssora01r:hover { background-position: -188px -38px; }
.jssora01ldn { background-position: -8px -38px; }
.jssora01rdn { background-position: -68px -38px; }